#map {
    width: 800px; 
    height: 450px;
    touch-action: none;
  }

#lateral{
  background-color: transparent;
  height: 500px;
  width: 300px;
  position: relative;
  padding-left: 30px;
}
#editar{
  display: none;
}

#estilo_mapa {
  cursor: pointer;
}
#logout{
  padding-right: 30px;
}
#info {
  width:20px;
  height:20px;
}

body{
  padding: 40px;
}

.marker {
  background-image: url("images/cam_icon.jpg");
}

.dropdown-item {
  cursor: pointer;
}