#map {
    width: 800px; 
    height: 450px;
    touch-action: none;
  }

#lateral{
  background-color: transparent;
  height: 500px;
  width: 400px;
  position: relative;
  padding-left: 30px;
}
#editar{
  display: none;
}

#estilo_mapa {
  cursor: pointer;
}
#logout{
  padding-right: 30px;
}
#info {
  width:30px;
  height:20px;
}

body{
  padding: 40px;
}

.marker {
  background-image: url("images/cam_icon.jpg");
}

.dropdown-item {
  cursor: pointer;
}

.miniatura_mapa {
  width: 250px;
}

#error {
  display: none;
}

label {
  padding: 5px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 100px;
}

.col {
  border: solid black 1px;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
   
}
.col:hover {
  background-color: rgb(148, 221, 255);
  border: solid blue 3px;
}

#titulo {
  padding: 15px
}