{% extends 'camaras/layout.html' %}

{% block title %}
    Importar
{% endblock %}
{% block importar-active %} class="nav-link active" {% endblock %}
{% block body %}


    <h4>Importar mapa desde fichero</h4>
    <div>
        <label for="inputfile" class="form-label">Seleccionar fichero:</label>
        <input class="form-control form-control-lg" id="inputfile" name="file" type="file"accept="application/JSON" onchange="handleFiles()" required/>
    </div>
    <div id="error_importar" class="alert alert-danger" role="alert">
        <strong>Error: </strong><span id="error_message_importar"></span>
      </div>
{% endblock %}