{% extends 'camaras/layout.html' %}
{% load static %}
{% block title %}
Bienvenido
{% endblock %}
{% block menu %}
<h3>Bienvenido a la aplicacion</h3>
    {% if user.is_authenticated %}
        Hola <!--Info del usuario-->
        <a href="{% url 'camaras:logout' %}">Logout</a>
        <a href="{% url 'camaras:nuevo' %}">Nuevo mapa</a>
        <a href="{% url 'camaras:mapas' %}">Mis mapas</a>
        <a href="{% url 'camaras:importar' %}">Importar desde JSON</a>
        {% if user.is_superuser %}
          <a href="{% url 'camaras:nuevacamara' %}">Añadir nueva camara</a>
        {% endif %}
    {% else %}
        <a href="{% url 'camaras:login' %}">Iniciar sesión</a>
        <a href="{% url 'camaras:registro' %}">Registrarse</a>
    {% endif %}

    
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
          <button type="button" data-target="#myCarousel" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-target="#myCarousel" data-bs-slide-to="1"></button>
          <button type="button" data-target="#myCarousel" data-bs-slide-to="2"></button>
        </div>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/mapa_camaras.jpg' %}" alt="Los Angeles">
          </div>
      
          <div class="carousel-item">
            <img src="chicago.jpg" alt="Chicago" class="d-block w-100">
          </div>
      
          <div class="carousel-item">
            <img src="ny.jpg" alt="New York" class="d-block w-100">
          </div>
        </div>
      
        <!-- Left and right controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </div>

{% endblock %}

