{% extends 'camaras/layout.html' %}

{% block title %}
Iniciar sesión
{% endblock %}
{% block login-active %} class="nav-link active" {% endblock %}
{% block body %}

<h5 class="display-5">Inicia sesión para utilizar Guardian:</h5>
    <form method="post" action="{% url 'camaras:login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="usuario" class="form-label">
                Usuario o email
            </label>
            <input autofocus name="usuario" type="text" class="form-control" id="usuario">
            <label for="password" class="form-label">
                Contraseña
            </label>
            <input name="password" type="password" class="form-control" id="password">

        </div>
        <input type="submit" class="btn btn-primary" name="login" value="Iniciar sesión"/>
        {% if redirect_url %}
            <input type="hidden" name="redirect" value="{{redirect_url}}"/>
        {% endif %}
    </form>
{% endblock %}