{% extends 'camaras/layout.html' %}
{% load static %}
{% block title %}
Crear nuevo mapa

{% endblock %}
{% block nuevo-active %} class="nav-link active" {% endblock %}
{% block body %}
    <p id="edit_mapa_id" hidden>{{mapa}}</p>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a id="estilo_mapa" class="nav-link active" aria-current="page">Vista de satélite</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Selecciona una cámara
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for k,v in camaras.items %}
                            <li><h6 class="dropdown-header">{{ k }}mm</h6></li>
                            {% for e in v %}
                                <li id="camara_{{ e.id }}"><a class="dropdown-item" onclick="colocaCamara({{ e.id }})">{{ e }}</a></li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                  </li>
                  <li class="nav-item">
                        <button onclick='enviaVariable(`{{nombre}}`)' class="btn btn-primary" type="button">Guardar mapa</button>                    
                  </li>
                </ul>
                  
                
              </div>
            </div>
            
        </nav>

        
    <div class="row">
        <div id="lateral" class="col-xl-2">
            <div id="editar" class="container-fluid">
                Editar cámara <span id="nombre_camara"></span>. 
                Tiene un precio de <span id="precio_camara"></span> €
                <br/>
                <ul>
                    <li>Distancia focal: <span id="dist_focal"></span>mm</li>
                    <li>Ángulo de apertura: <span id="angulo"></span>º</li>
                    <li><label for="altura" class="form-label">Altura de la cámara: </label> <span id="altura_camara">4</span>m
                        <input type="range" class="form-range" min="0" max="15" value="4" step="1" id="altura"></li>
                    <li><label for="inclinacion" class="form-label">Inclinación de la cámara: </label> <span id="inclinacion_camara">70</span>º
                        <input type="range" class="form-range" min="0" max="89" value="70" step="1" id="inclinacion"></li>
                    <li><label for="rotacion" class="form-label">Rotación de la cámara: </label> <span id="rotacion_camara">0</span>º
                      <input type="range" class="form-range" min="0" max="360" value="0" step="1" id="rotacion"></li>
                      <li>Distancia muerta: <span id="dmuerta"></span>m</li>
                      <li>Distancia máxima: <span id="dmax"></span>m</li>
                </ul>

            </div>
            <div>
              Coloca la cámara indicando sus coordenadas:
  
              <div class="mb-3">
                <label for="long" class="form-label">
                    Longitud
                </label>
                <input autofocus name="long" type="text" class="form-control" id="long">
                <label for="lat" class="form-label">
                    Latitud
                </label>
                <input name="lat" type="text" class="form-control" id="lat">
              </div>
              <input type="submit" id="boton_coords" class="btn btn-primary" name="boton_coords" value="Colocar cámara"/>
              
              <div id="error" class="alert alert-danger" role="alert">
                <strong>Error: </strong><span id="error_message"></span>
              </div>
            </div>
        </div>
        <div class="col-xl-8">
          {% if mapa %}
            <div hidden onload="cargamapa({{mapa}})"></div>
          {% endif %}
            <div id='map'></div>
            <div id='info'></div>
        </div>
    </div>

{% endblock %}